.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 24px;
    text-decoration: none;
    font-family: 'Sanchez', serif;
    color: black;
}

button {
    font-size: 14px;
    text-decoration: none;
    font-family: 'Sanchez', serif;
    color: black;
}

#records {
    font-size: 14px;
    text-decoration: none;
    font-family: 'Sanchez', serif;
    color: black;
}

.profileContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    border-bottom: 6px solid #FFC75F;
    border-top: 6px solid #FFC75F;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.translations {
    margin: 1em;
}

.wipeBtn {
    margin: 1em;
    background-color: #E7B355;
    border: none;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
}

.wipeBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

.wipeBtn:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

.logOutBtn {
    margin: 1em;
    background-color: #E7B355;
    border: none;
    padding: 20px;
    text-align: center;
    font-size: 16px;
    border-radius: 8px;
}

.logOutBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

.logOutBtn:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}