.loginForm {
    display: flex;
    align-items: center;
    justify-content: center;
}  

.loginBtn {
    width: 60px;
    height: 30px;
    border-radius: 12px;
    margin-top: 12px;
    margin-left: -72px;
    background-color: #845EC2;
    border: transparent;
    color: white;
    
    /*pulled from https://stackoverflow.com/questions/63434434/css-button-with-right-arrow*/
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='7.41' height='12' viewBox='0 0 7.41 12'%3E%3Cpath d='M10,6,8.59,7.41,13.17,12,8.59,16.59,10,18l6-6Z' transform='translate(-8.59 -6)' fill='%23fff'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 24px center;
}

.loginBtn:focus {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
    transition: 0.7s;
}

.loginBtn:hover {
    outline-color: transparent;
    outline-style:solid;
    box-shadow: 0 0 0 1px black;
}

.inputForm {
    margin-top: 12px;
    border-radius: 32px;
    height: 50px;
    width: 350px;
    font-size: 16px;
    text-align: left;
    padding-left: 24px;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    border: transparent;
}

.startupLogo {
    font-size: 36px;
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
    margin-bottom: -20px;
}

.startupContainer {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.startupAlignLogo {
    width: 200px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../data/resources/logo_img/Splash.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}

.splashContainer {
    display: flex;
    align-items: center;
}

.startupSplash {
    display: flex;
    align-items: center;
    justify-content: left;
    padding-left: 60%;
    width: 100%;
    height: 200px;
    background-color: #FFC75F;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

.startupElement {
    font-size: 24px;
    text-decoration: none;
    font-family: 'Sanchez', serif;
    color: white;
}

.innerSplashContainer {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

.outerLoginForm {
    margin-top: 1em;
    width: 35%;
    height: 100px;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
    border-radius: 8px;
    border-bottom: 1rem solid #845EC2;
}

.alignStartup {
    display: flex;
    flex-direction: column;
    align-items: center;
}