@import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sanchez&display=swap');

.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #FFC75F;
    color: black;
    box-shadow: 0 2px 2px 2px rgba(9, 9, 9, 0.23);
}

#navBeforeLogin {
    justify-content: left;
    padding-left: 30%;
}

.element {
    text-decoration: none;
    font-family: 'Sanchez', serif;
    color: white;
}

.logo {
    font-size: 24px;
    margin: 1em;
    font-family: 'Love Ya Like A Sister', cursive;
    color: white;
}

.container {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around;
}

.alignLogo {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("../data/resources/logo_img/Splash.svg");
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
}

.innerContainer {
    display: flex;
    align-items: center;
}
