.translationMain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}  

.translationImages {
    margin-top: 25em;
    position: absolute;
    width: 38em;
    height: 40%;
    display: flex;
    flex-flow: row wrap;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    overflow:scroll;
    justify-content: center;
}

#translateWords {
    font-size: 24px;
    text-decoration: none;
    font-family: 'Sanchez', serif;
    color: black;
}

.translationImages img{
    position: relative;
    width: 6em;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

#translateBtn {
    width: 5em;
    font-size: 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    text-decoration: none;
    font-family: 'Sanchez', serif;
    color: black;
}

#tInput {
    width: 20em;
    font-size: 24px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 5px;
}


#inputDiv {
    text-align: center;
    width: 40em;
}